.header {
	display: grid;
	justify-content: center;

	background: url("./header.png") no-repeat;
}

.head {
	text-align: center;
	letter-spacing: -0.03em;

	color: #3838A0;

	font-size: 56px;
	font-weight: 700;
	font-style: normal;
	line-height: 120%;
}
